
#sql_title{
    font-weight: bold;
}

#first_block{
    margin-top: 100px;
}

#sql_container {
    width: 500px;
    margin: auto;
}

#exc_btn {
    margin-top: 10px;
}

#Save {
    margin-top: 10px;
}



#textarea {
    height: 200px;
  }


  
.table{
    overflow-x: auto;
    font-size: small;
    }

.my-custom-scrollbar {
    margin-top: 2px;
    position: relative;
    height: 700px;
    overflow: auto;
    }
    
.table-wrapper-scroll-y {
display: block;
}


.alignleft {
	float: left;
}
.alignright {
	float: right;
}
    